<div class="d-flex flex-column deck-card" data-card-id="<%= card.id %>">
  <div data-toggle="tooltip" data-placement="bottom" title="<%= card.name %>" class="card-large">
    <%= safe_image_tag("cards/large/#{card.id}.png") %>
  </div>
</div>
