<div id="collection-data"
  data-character-selected="<%= character_selected? %>"
  data-character-verified="<%= @character && @character.verified_user?(current_user) %>"
  data-collection-ids="<%= @keyed_collection_ids&.join(',') %>"
></div>
