<% if collectable.item_id.present? %>
  <dt><%= t('item') %></dt>
  <dd class="inline">
    <%= database_link("item", nil, collectable.item_id) do %>
      <div class="d-flex align-items-center">
        <%= small_image(collectable.item) %>
        <span class="ml-2"><%= collectable.item.name %></span>
      </div>
    <% end %>
  </dd>
<% end %>
