<div class="text-center collection-spinner my-5">
  <div class="spinner-border" role="status">
    <span class="sr-only"><%= t('loading') %></span>
  </div>
  <noscript>
    <p class="mt-2">
      <%= t('javascript_required') %>
    </p>
  </noscript>
</div>
