.framer-kit {
  text-align: center;

  .carousel {
    margin: 0 auto;
    max-width: 1100px;
  }

  img {
    // Fit the frame within the container, which also sizes down the HR image
    max-width: 100%;

    // Fixed dimensions for portrait-only since the max-width does not size down the HR image
    &.portrait {
      width: 256px;
      height: 420px;
    }
  }
}
