.jumbotron {
  background-color: #292929;
}

.discord {
  background-color: #3D55A0;

  &:hover {
    background-color: #324682;
  }
}

.google_oauth2 {
  background-color: #4285F4;

  &:hover {
    background-color: #3776D6;
  }
}

.patreon {
  background-color: #DB4534;

  &:hover {
    background-color: #BF3C2D;
  }
}

.xivauth {
  background-color: #00A8E8;

  &:hover {
    background-color: #0099CA;
  }
}

.socials img {
  width: 25px;
  height: 25px;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}
