@media (min-width: 576px) {
  .table.collection td.record-icon {
    width: 130px;
  }
}

.image-field-record-small {
  width: 72px;
  height: 72px;
}

.image-field-record-large {
  width: 256px;
  height: 360px;
}
